*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* height: 200vh; */
    width: 100%;
    overflow-x: hidden;
}
body{
    color: #fff;
    letter-spacing: 1.1px;
    font-family: 'Open Sans', sans-serif;

}
.random-container{
    padding-top: 2rem;
    min-height: 15rem;
    padding-bottom: 2rem;
}
.one-page{

}