*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    color: #fff;
    letter-spacing: 1.1px;
    font-family: 'Open Sans', sans-serif;

}
