.random-container{
    color:#FF8000;
    background-color: rgba(245, 180, 180, 0.226);
    height: 130vh;
    position: relative;
    padding-top: 2rem;
    min-height: 40rem;
    padding-bottom: 2rem;
    height: auto;
}

.btn-random-pokemon{
    display: block;
    margin: 4rem auto;
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #F5B4B4;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    animation: scaleButton 1s ease-in-out infinite alternate-reverse ;
   
   
}


.btn-random-pokemon:focus{
    outline: none;
}
.btn-random-pokemon:hover{
    opacity: .8;
    animation: none;
}
.pokemon-field{
    width: 100%;
}
.pokemon-photo{
    display: block;
    margin: 4rem auto;
    width: 300px;
    text-align: center;
}
.pokemon-name{
    font-size: 4rem;
    text-transform: uppercase;
    color: #F5B4B4;
    margin: 1.5rem auto;
    text-align: center;
 
   
}
.pokemon-title{
    width:100%;
    text-align: center;
}


.loading-animation{
    text-align: center;
    margin-top: 15rem;
}

@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.pokemon-random{
    display: block;
    margin-bottom: 160px;
}
.animation-btn{
    display: block;
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #E05B5A;
    padding: 20px 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    border: none;
    overflow: hidden;
    border-radius: 50px;
    font-weight: bold;
    outline: none;
    background-color: rgb(68, 60, 60);
    transition: all .3s ease-in-out;

}
.animation-btn:hover{
    background-color: rgba(68, 60, 60, 0.76);
}
.animation-btn:focus{
    outline: none;
   
}

.animation-btn::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,.05);
}
.animation-btn span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, #e2b67c,#ddd1bb);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }

}

.animation-btn span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background:linear-gradient(to bottom,#e2b67c,#ddd1bb);
    animation: animate2 2s linear infinite;   
   
}


@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }

}

.animation-btn span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, #e2b67c,#ddd1bb);
    animation: animate3 2s linear infinite;
}


@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }

}

.animation-btn span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background:linear-gradient(to top,#e2b67c,#ddd1bb);
    animation: animate4 2s linear infinite;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }

}

@media  screen and (max-width:600px){
    .animation-btn{
        width: 50%;
        margin: 0 auto;
     
        font-size: .5rem;
    }
    .text{
        transform: translateX(-45%);
        display: block;
        width: 200px;

    }
}