@media  screen and (max-width:450px){
    .pokemon-name{
        font-size: 2.4rem;
    }
    
    .pokemon-photo{
        
        display: block;
        width: 230px;
        margin: 2rem auto;
    }
}
@media  screen and (max-width:350px){
  
    
    .pokemon-photo{
        
        display: block;
        width: 190px;
        
    }
}