.welcome-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    color: black;
    position: relative; 
    margin-bottom: 4rem;
}
.gif-pokemon{
    width: 400px;
    align-self: flex-end;
}
.person{
    width: 240px;
}
.cloud {
    align-self: flex-start;
    position: relative;
}
.cloud-img{
    display: block;
    padding-left: 150px;
    width: 500px;
  
}
.cloud-text{
    padding: 50px;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-30%,-50%);
}

.move-pokemon{
    width: 200px;
    transform:rotateY(180deg);
    position: absolute;
    bottom: 5vh;
    right: 100px;
    animation-name: pokemonRun;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    z-index: -1;
}
.personality{
    display: flex;
 
}

@keyframes pokemonRun{
0%{
    transform: translateX(0) rotateY(180deg);
    opacity:1
}

80%{
    opacity: 1;
}
100%{
    
    transform: translateX(-500px) rotateY(180deg);
    opacity: 0;

}
}

@media  screen and (max-width:1300px){
    img{
        width: 260px;
        margin-left: -3rem;
    }
    .gif-pokemon{
        width: 250px;
        
    }
    .person{
        width: 140px;
    }
    .cloud-text {
     font-size: 1rem;
    }
    .cloud-img{
        display: block;
        padding-left: 150px;
        width: 400px;
      
    }
    
    .move-pokemon{
        width: 150px;
       
    }
}

@media  screen and (max-width:900px){

    .welcome-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .gif-pokemon{
        margin: 2rem auto;
        display: none;
    }
    .person{
        margin-top: 10rem;
        order: 2;
       
    }
    .move-pokemon{
        position: relative;
        display: block;
        margin: 5rem auto;
        bottom:15%;
        right: -23%;
    }
    .personality{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cloud-img{
        order:1 ;
        display:none
    }
    .cloud-text {
        text-align: center;
        overflow: hidden;
        text-align: center;
        display: flex;
        width: 64vw;
        padding: 2rem;
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: bold;
        color: rgb(255, 75, 75);
       }
}

@media  screen and (max-width:350px){
    .cloud-text {
      font-size: 1.3rem;
    }
}